#header {
  margin-bottom: 25px;
}

#header img {
  margin-bottom: -5px;
}

.context {
  cursor: context-menu;
}

body {
  background-color: #333333;
}

#main {
  background-color: #fff;
  border-radius: 0px;
  padding: 15px;
  padding-top: 20px;
  /* margin-top: 20px; */
}

#footer {
  color: #fff;
  text-align: right;
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  color: #468847;
}

.btn-altcolor {
  background-color: #468847;
  border-color: #468800;
  color: #fff;
  text-decoration: none;
}

.btn-altcolor:hover {
  background-color: #2e592f;
  color: #fff;
  text-decoration: none;
}

.pagenum {
  padding: 20px;
}

/* So the print version will look right: */
@media print {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .row {
    page-break-inside: avoid;
  }
}

